.a {
    background-color: white;
    color: black;
    text-shadow: 0px 0px 4px black;
}
.n {
    background-color: white;
    color: black;
    text-shadow: 0px 0px 3px black;
}
.b {
    background-color: white;
    color: white ;
    text-shadow: 0px 0px 4px black;
}